.sidebar_overall {
  display: flex;
}
.sidebar {
  top: 0px;
  left: 0px;

  height: 720px;
  text-align: center;
  background-color: #4d44b5;
  color: #fff;
  align-items: center;
}

.sidebar-parts {
  display: flex;
  width: 220px;

 padding: 10px 0px;
  text-align: center;
}

.sidebar-parts img {
  width: 30px;
  height: 30px;
}

.active{
    text-align: center;
    align-items:center;
    display: flex;
    gap: 10px;
    width: 150px;
    justify-content: space-between;
}